## Visual Studio exclude
# User specific files
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
~$*
*~
*.dbmdl
*.dbproj.schemaview
*.pfx
*.publishsettings
node_modules/

# Build results
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Dd]ebug/
[Dd]ebugPublic/
[Dd]ebugPS/
[Rr]eleasePS/
[Rr]elease/
[Rr]eleases/
dlldata.c
*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
project.lock.json
artifacts/
csx/
*.build.csdef
Generated_Code/


# VS Code
.vs/
.vscode/
*.[Cc]ache

# MSTest
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NUNIT
*.VisualState.xml
TestResult.xml

# ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# Release results
publish/
*.[Pp]ublish.xml
*.azurePubxml
*.publishproj
PublishScripts/

# NuGet Packages
*.nupkg
**/packages/*
*.nuget.props
*.nuget.targets

# Windows Store app package directories and files
AppPackages/
BundleArtifacts/
Package.StoreAssociation.xml
_pkginfo.txt

# SQL Server files
*.mdf
*.ldf

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*
*.lock.hcl

# Crash log files
crash.log

# Exclude all .tfvars files, which are likely to contain sentitive data, such as
# password, private keys, and other secrets. These should not be part of version
# control as they are data points which are potentially sensitive and subject
# to change depending on the environment.
#
*.tfvars

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include override files you do wish to add to version control using negated pattern
#
# !example_override.tf

# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
# example: *tfplan*

# Ignore CLI configuration files
.terraformrc
terraform.rc